/*-------VARIABLES----------*/
/* -----------IMPORTS--------- */
/* HEADER */
header {
  background-color: #e2eaf1; }

.navbar {
  padding-top: 0;
  padding-bottom: 0; }

.navbar-brand {
  padding-bottom: 0;
  padding-top: 0; }

.container-fluid {
  padding-left: 0; }

.navbar-collapse {
  padding-left: 7px;
  padding-top: 5px; }

.nav120 {
  height: 7.5vh; }

/* FOOTER */
.footerBg {
  background-color: #e2eaf1;
  height: 20vh; }

.footerImg {
  width: 8vw; }

.footerLogo {
  width: 50vw;
  padding: 10px;
  padding-right: 0px; }

.footerImgJC {
  justify-content: space-between; }

.paddingLine {
  padding-right: 20px; }

footer h5 {
  letter-spacing: 1px;
  font-weight: 400; }

@media only screen and (max-width: 380px) {
  .w-10 {
    width: 80%; } }

@media only screen and (min-width: 400px) {
  .nav120 {
    height: 9vh; } }

@media only screen and (min-width: 600px) and (max-width: 759px) {
  .footerImg {
    width: 6.5vw; }
  .footerBg {
    height: 25vh; }
  .footerImgJC {
    justify-content: space-evenly; }
  .nav120 {
    height: 10vh; } }

@media only screen and (min-width: 760px) {
  .footerImg {
    width: 5.5vw; }
  .paddingLine {
    padding-right: 2.3rem; }
  .footerImgJC {
    justify-content: space-evenly; }
  .nav120 {
    height: 10vh; } }

@media only screen and (min-width: 992px) {
  footer h5 {
    font-size: 1.5rem; }
  .footerBg {
    height: 24vh; }
  .footerImgJC {
    justify-content: center; }
  .footerImg {
    width: 4.7vw;
    margin: 0px 0.5rem; }
  .navbar-collapse {
    padding-left: 0px;
    padding-top: 0px; }
  .linkPadding {
    margin: 0px 10px; }
  .paddingLine {
    padding-right: 2.7rem; } }

@media only screen and (min-width: 1200px) {
  .footerBg {
    height: 25vh; }
  .footerLogo {
    padding: 20px;
    padding-right: 0px; }
  .linkPadding {
    margin: 0px 15px;
    font-size: 1.15rem; }
  .footerImg {
    width: 3.2vw; }
  .nav120 {
    height: 13vh; } }

/*--------------------ESTILO DE INDEX-------------------*/
#indexBody {
  background-color: #EFF4F8;
  width: 100%; }

.bgSection1 {
  background-image: url(../Imagenes/puente-de-londres-vertical.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  background-attachment: fixed;
  align-content: center;
  align-items: center;
  justify-content: center; }
  .bgSection1 h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px; }
  .bgSection1 p {
    padding: 10px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.5px; }
  .bgSection1 div {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    padding: 0px 20px; }
  .bgSection1 a {
    align-self: center; }

/* ----------SECCION 1---------- */
.gridBoxIndex {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo';
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridBoxIndex img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridBoxIndex h2 {
    grid-area: titulo;
    padding-top: 25px;
    justify-self: center;
    text-align: center; }
  .gridBoxIndex p {
    grid-area: parrafo;
    padding-top: 10px;
    justify-self: center;
    text-align: center;
    font-weight: 300; }

/* ----------SECCION 2---------- */
.gridBoxIndex2 {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo' 'boton';
  padding: 50px 20px;
  background-color: white; }
  .gridBoxIndex2 img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridBoxIndex2 h2 {
    grid-area: titulo;
    padding-top: 25px;
    justify-self: center;
    text-align: center; }
  .gridBoxIndex2 p {
    grid-area: parrafo;
    padding: 10px 0px;
    text-align: center;
    font-weight: 300; }
  .gridBoxIndex2 a {
    grid-area: boton; }

/* ----------SECCION 3---------- */
.gridBoxIndex3 {
  display: grid;
  grid-template-areas: "titulo" "div1" "div2" "div3" "boton";
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridBoxIndex3 h2 {
    grid-area: titulo;
    padding-bottom: 10px;
    justify-self: center;
    font-size: 1.8rem; }
  .gridBoxIndex3 div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gridBoxIndex3 img {
    margin-bottom: 1em;
    width: 25%; }
  .gridBoxIndex3 p {
    font-weight: 300; }
  .gridBoxIndex3 #div1 {
    grid-area: div1;
    justify-self: center;
    padding: 10px 5px;
    width: 70vw;
    text-align: center; }
  .gridBoxIndex3 #div2 {
    grid-area: div3;
    justify-self: center;
    padding: 10px 5px;
    width: 70vw;
    text-align: center; }
  .gridBoxIndex3 #div3 {
    grid-area: div2;
    justify-self: center;
    padding: 10px 5px;
    width: 70vw;
    text-align: center; }
  .gridBoxIndex3 a {
    grid-area: boton; }

@media only screen and (min-width: 460px) {
  .bgSection1 div {
    height: 50vh; }
    .bgSection1 div p {
      font-size: 1.3rem;
      font-weight: 300; }
  .gridBoxIndex {
    padding: 60px 30px 40px; }
    .gridBoxIndex img {
      width: 90%; }
    .gridBoxIndex h2 {
      padding-top: 30px; }
    .gridBoxIndex p {
      padding-top: 15px;
      font-size: 1.2rem; }
  .gridBoxIndex2 {
    padding: 60px 30px 40px; }
    .gridBoxIndex2 img {
      width: 90%; }
    .gridBoxIndex2 h2 {
      padding-top: 30px; }
    .gridBoxIndex2 p {
      padding-top: 15px;
      font-size: 1.2rem; }
  .gridBoxIndex3 {
    padding: 50px 30px 20px; }
    .gridBoxIndex3 h2 {
      font-size: 2rem; }
    .gridBoxIndex3 h3 {
      font-size: 1.7rem; }
    .gridBoxIndex3 p {
      font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  .bgSection1 {
    background-image: url(../Imagenes/puente-de-londres-cuadrado.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center; }
    .bgSection1 div {
      justify-content: center;
      align-items: center;
      padding: 0rem 2.5rem; }
      .bgSection1 div h1 {
        font-size: 2rem; }
      .bgSection1 div p {
        padding-top: 0px; }
  .gridBoxIndex {
    padding: 4rem 5rem; }
    .gridBoxIndex img {
      width: 90%;
      align-self: center; }
    .gridBoxIndex p {
      font-size: 1.3rem; }
  .gridBoxIndex2 {
    padding: 4rem 5rem; }
    .gridBoxIndex2 img {
      width: 90%;
      align-self: center; }
    .gridBoxIndex2 p {
      font-size: 1.2rem; }
  .gridBoxIndex3 {
    padding: 4rem 5rem; }
    .gridBoxIndex3 h2 {
      padding-bottom: 20px; }
    .gridBoxIndex3 h3 {
      font-size: 1.8rem; }
    .gridBoxIndex3 p {
      font-size: 1.3rem; }
    .gridBoxIndex3 img {
      width: 30%; }
    .gridBoxIndex3 #div1 {
      width: 60vw;
      padding: 20px 5px; }
    .gridBoxIndex3 #div2 {
      width: 60vw;
      padding: 20px 5px; }
    .gridBoxIndex3 #div3 {
      width: 60vw;
      padding: 20px 5px; } }

@media only screen and (min-width: 760px) {
  .bgSection1 {
    background-image: url(../Imagenes/puente-de-londres-cortado.jpg);
    background-size: cover; }
    .bgSection1 div {
      justify-content: space-evenly;
      height: 60vh;
      padding: 0rem 3.5rem; }
      .bgSection1 div h1 {
        font-size: 2rem; }
      .bgSection1 div p {
        font-size: 1.3rem;
        padding: 0px 10px; }
  .gridBoxIndex {
    grid-template-areas: 'img img titulo titulo' 'img img parrafo parrafo' 'img img parrafo parrafo';
    padding: 5rem 4rem; }
    .gridBoxIndex h2 {
      padding-top: 0px;
      padding-left: 10px;
      width: 50vw;
      font-size: 1.3rem;
      text-align: start; }
    .gridBoxIndex p {
      padding-top: 10px;
      padding-left: 10px;
      width: 50vw;
      font-size: 0.9rem;
      text-align: start; }
  .gridBoxIndex2 {
    grid-template-areas: 'titulo titulo img img' 'parrafo parrafo img img' 'boton boton img img';
    padding: 5rem 4rem; }
    .gridBoxIndex2 h2 {
      padding-top: 0px;
      padding-right: 10px;
      width: 50vw;
      font-size: 1.3rem; }
    .gridBoxIndex2 p {
      padding-top: 10px;
      padding-right: 10px;
      width: 50vw;
      font-size: 0.9rem;
      text-align: start; }
    .gridBoxIndex2 a {
      align-self: baseline;
      justify-self: baseline; }
  .gridBoxIndex3 {
    grid-template-areas: 'titulo titulo titulo' 'div1 div2 div3' 'boton boton boton';
    padding: 5rem 2rem; }
    .gridBoxIndex3 h2 {
      font-size: 1.9rem; }
    .gridBoxIndex3 h3 {
      font-size: 1.4rem; }
    .gridBoxIndex3 p {
      font-size: 1rem; }
    .gridBoxIndex3 a {
      align-self: baseline; }
    .gridBoxIndex3 #div1 {
      width: 30vw;
      padding: 20px 5px; }
    .gridBoxIndex3 #div2 {
      width: 30vw;
      padding: 20px 5px; }
    .gridBoxIndex3 #div3 {
      width: 30vw;
      padding: 20px 5px; } }

@media only screen and (min-width: 1000px) {
  .bgSection1 {
    background-image: url(../Imagenes/puente-de-londres-cortado.jpg);
    background-size: cover; }
    .bgSection1 div {
      height: 40vh;
      padding: 0rem 5rem; }
      .bgSection1 div h1 {
        font-size: 2.2rem; }
      .bgSection1 div p {
        font-size: 1.4rem; }
  .gridBoxIndex {
    padding: 6rem 5rem; }
    .gridBoxIndex h2 {
      font-size: 1.5rem;
      align-self: center;
      padding-top: 10px; }
    .gridBoxIndex p {
      font-size: 1.1rem;
      padding-top: 0px;
      align-self: center; }
  .gridBoxIndex2 {
    padding: 6rem 5rem; }
    .gridBoxIndex2 h2 {
      font-size: 1.5rem;
      align-self: center;
      padding-top: 10px; }
    .gridBoxIndex2 p {
      font-size: 1.1rem;
      padding: 5px 10px 0px 0px;
      align-self: center; }
  .gridBoxIndex3 {
    padding: 6rem 3rem; }
    .gridBoxIndex3 img {
      width: 25%; }
    .gridBoxIndex3 h3 {
      font-size: 1.5rem; }
    .gridBoxIndex3 p {
      font-size: 1.1rem; } }

@media only screen and (min-width: 1200px) {
  .bgSection1 div h1 {
    font-size: 2.5rem;
    letter-spacing: 2px; }
  .bgSection1 div p {
    font-size: 1.5rem;
    letter-spacing: 1px; }
  .gridBoxIndex {
    padding: 5rem 6rem; }
    .gridBoxIndex h2 {
      font-size: 1.6rem;
      width: 47vw; }
    .gridBoxIndex p {
      font-size: 1.2rem;
      width: 47vw; }
  .gridBoxIndex2 {
    padding: 5rem 6rem; }
    .gridBoxIndex2 h2 {
      font-size: 1.6rem;
      width: 47vw; }
    .gridBoxIndex2 p {
      font-size: 1.2rem;
      width: 47vw; }
  .gridBoxIndex3 {
    padding: 5rem 5.5rem; }
    .gridBoxIndex3 h2 {
      font-size: 2.3rem; }
    .gridBoxIndex3 h3 {
      font-size: 1.6rem; }
    .gridBoxIndex3 p {
      font-size: 1.2rem; }
    .gridBoxIndex3 img {
      width: 30%; }
    .gridBoxIndex3 #div1 {
      width: 25vw; }
    .gridBoxIndex3 #div2 {
      width: 25vw; }
    .gridBoxIndex3 #div3 {
      width: 25vw; } }

@media only screen and (min-width: 1440px) {
  .bgSection1 {
    background-image: url(../Imagenes/puente-de-londres-cortado.jpg);
    background-size: cover; }
    .bgSection1 div {
      padding: 0rem 7rem;
      height: 50vh; }
      .bgSection1 div h1 {
        font-size: 2.6rem;
        width: 60vw; }
      .bgSection1 div p {
        font-size: 1.6rem; }
  .gridBoxIndex {
    padding: 7rem 8rem; }
    .gridBoxIndex img {
      width: 80%; }
    .gridBoxIndex h2 {
      font-size: 1.9rem;
      margin-right: 3rem;
      letter-spacing: 1px; }
    .gridBoxIndex p {
      font-size: 1.3rem;
      margin-right: 3rem;
      font-weight: 300;
      letter-spacing: 1.2px; }
  .gridBoxIndex2 {
    padding: 7rem 8rem; }
    .gridBoxIndex2 img {
      width: 80%; }
    .gridBoxIndex2 h2 {
      font-size: 1.9rem;
      letter-spacing: 1px;
      text-align: start;
      margin-left: 3rem; }
    .gridBoxIndex2 p {
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      margin-left: 3rem; }
    .gridBoxIndex2 a {
      margin-left: 3rem; }
  .gridBoxIndex3 h2 {
    font-size: 2.5rem;
    letter-spacing: 1px; }
  .gridBoxIndex3 img {
    width: 30%; }
  .gridBoxIndex3 h3 {
    font-size: 1.9rem;
    letter-spacing: 1px; }
  .gridBoxIndex3 p {
    font-size: 1.2rem;
    letter-spacing: 1.2px; }
  .gridBoxIndex3 #div1 {
    width: 22.5vw; }
  .gridBoxIndex3 #div2 {
    width: 22.5vw; }
  .gridBoxIndex3 #div3 {
    width: 22.5vw; } }

/*-------------------ESTILO SOBRE MI--------------------*/
#meBody {
  background-color: #EFF4F8;
  width: 100%; }

.sectionBg {
  background-image: url(../Imagenes/buenos-aires1.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .sectionBg h1 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 2px; }
  .sectionBg p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    width: 75vw; }

.section4Me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  justify-content: space-between;
  background-color: white; }
  .section4Me h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500; }

/* Inicio de grillas */
.gridBoxMe {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo1' 'parrafo2';
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridBoxMe img {
    grid-area: img;
    width: 95%;
    justify-self: center;
    align-self: center; }
  .gridBoxMe h2 {
    grid-area: titulo;
    padding-top: 25px;
    justify-self: center;
    text-align: center; }
  .gridBoxMe #parrafo1 {
    grid-area: parrafo1;
    padding: 5px 0px;
    justify-self: center;
    text-align: center;
    font-weight: 300; }
  .gridBoxMe #parrafo2 {
    grid-area: parrafo2;
    padding: 5px 0px;
    justify-self: center;
    text-align: center;
    font-weight: 300; }

.gridBoxMe2 {
  display: grid;
  grid-template-areas: 'titulo' 'parrafo';
  padding: 50px 20px;
  background-color: white; }
  .gridBoxMe2 h2 {
    grid-area: titulo;
    padding-bottom: 5px;
    justify-self: center; }
  .gridBoxMe2 p {
    grid-area: parrafo;
    padding: 5px 0px;
    justify-self: center;
    text-align: center;
    font-weight: 300; }

.gridBoxMe3 {
  display: grid;
  grid-template-areas: "titulo" "div1" "div2" "div3";
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridBoxMe3 h2 {
    grid-area: titulo;
    padding-bottom: 10px;
    justify-self: center;
    font-size: 1.8rem; }
  .gridBoxMe3 div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gridBoxMe3 img {
    margin-bottom: 1em;
    width: 25%; }
  .gridBoxMe3 p {
    font-weight: 300; }
  .gridBoxMe3 #div1 {
    grid-area: div1;
    justify-self: center;
    padding: 10px 5px;
    width: 70vw;
    text-align: center; }
  .gridBoxMe3 #div2 {
    grid-area: div2;
    justify-self: center;
    padding: 10px 5px;
    width: 70vw;
    text-align: center; }
  .gridBoxMe3 #div3 {
    grid-area: div3;
    justify-self: center;
    padding: 10px 5px;
    width: 70vw;
    text-align: center; }

@media only screen and (min-width: 460px) {
  .gridBoxMe {
    padding: 60px 30px 40px; }
    .gridBoxMe img {
      width: 90%; }
    .gridBoxMe h2 {
      padding-top: 30px; }
    .gridBoxMe #parrafo1 {
      padding-top: 15px;
      font-size: 1.2rem; }
    .gridBoxMe #parrafo2 {
      font-size: 1.2rem; }
  .gridBoxMe2 {
    padding: 60px 30px 40px; }
    .gridBoxMe2 p {
      font-size: 1.2rem; }
  .gridBoxMe3 p {
    font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  .sectionBg {
    background-image: url(../Imagenes/buenos-aires-cuadrado.jpg); }
  .gridBoxMe {
    padding: 4rem 5rem; }
    .gridBoxMe img {
      width: 90%;
      align-self: center; }
    .gridBoxMe #parrafo1 {
      font-size: 1.3rem; }
    .gridBoxMe #parrafo2 {
      font-size: 1.3rem; }
  .gridBoxMe2 {
    padding: 4rem 5rem; }
    .gridBoxMe2 p {
      font-size: 1.3rem;
      padding-bottom: 0px; }
  .gridBoxMe3 {
    padding: 4rem 5rem; }
    .gridBoxMe3 div {
      text-align: center; }
    .gridBoxMe3 h2 {
      padding-bottom: 20px; }
    .gridBoxMe3 h3 {
      font-size: 1.8rem; }
    .gridBoxMe3 p {
      font-size: 1.3rem; }
    .gridBoxMe3 img {
      width: 30%; }
    .gridBoxMe3 #div1 {
      width: 60vw;
      padding: 20px 5px; }
    .gridBoxMe3 #div2 {
      width: 60vw;
      padding: 20px 5px; }
    .gridBoxMe3 #div3 {
      width: 60vw;
      padding: 20px 5px; }
  .section4Me h3 {
    width: 70vw;
    font-size: 1.8rem; } }

@media only screen and (min-width: 760px) {
  .sectionBg h1 {
    font-size: 3rem; }
  .sectionBg p {
    font-size: 1.4rem; }
  .gridBoxMe {
    grid-template-areas: "titulo titulo titulo titulo titulo" "parrafo1 parrafo1 parrafo1 parrafo1 parrafo1" "parrafo1 parrafo1 parrafo1 parrafo1 parrafo1" "img img img parrafo2 parrafo2" "img img img parrafo2 parrafo2";
    padding: 5rem 4rem; }
    .gridBoxMe img {
      width: 90%; }
    .gridBoxMe h2 {
      padding-top: 0px; }
    .gridBoxMe #parrafo1 {
      font-size: 1rem;
      text-align: justify; }
    .gridBoxMe #parrafo2 {
      font-size: 1rem;
      padding-left: 10px;
      margin-bottom: 0.5rem;
      text-align: justify; }
  .gridBoxMe2 {
    padding: 5rem 4rem; }
    .gridBoxMe2 h2 {
      font-size: 1.7rem; }
    .gridBoxMe2 p {
      font-size: 1.2rem; }
  .gridBoxMe3 {
    grid-template-areas: 'titulo titulo titulo' 'div1 div2 div3';
    padding: 5rem 2rem; }
    .gridBoxMe3 h3 {
      font-size: 1.4rem; }
    .gridBoxMe3 p {
      font-size: 1rem; }
    .gridBoxMe3 #div1 {
      width: 30vw;
      padding: 20px 5px; }
    .gridBoxMe3 #div2 {
      width: 30vw;
      padding: 20px 5px; }
    .gridBoxMe3 #div3 {
      width: 30vw;
      padding: 20px 5px; }
  .section4Me {
    padding: 5rem 2rem; }
    .section4Me h3 {
      font-size: 2rem;
      padding-bottom: 25px;
      width: unset; } }

@media only screen and (min-width: 900px) {
  .gridBoxMe img {
    width: 85%; }
  .gridBoxMe h2 {
    font-size: 1.6rem;
    padding-top: 0px; }
  .gridBoxMe #parrafo1 {
    font-size: 1.15rem; }
  .gridBoxMe #parrafo2 {
    font-size: 1.15rem; }
  .gridBoxMe2 h2 {
    font-size: 1.6rem;
    padding-top: 0px; }
  .gridBoxMe2 p {
    font-size: 1.3rem; }
  .gridBoxMe3 h2 {
    font-size: 1.6rem; }
  .gridBoxMe3 h3 {
    font-size: 1.4rem; }
  .gridBoxMe3 p {
    font-size: 1.05rem; } }

@media only screen and (min-width: 1000px) {
  .sectionBg {
    background-image: url(../Imagenes/buenos-aires.jpg); }
    .sectionBg h1 {
      font-size: 3.2rem;
      letter-spacing: 3px; }
    .sectionBg p {
      font-size: 1.5rem;
      font-weight: 400; }
  .gridBoxMe {
    padding: 6rem 5rem; }
    .gridBoxMe h2 {
      font-size: 1.8rem; }
    .gridBoxMe #parrafo1 {
      font-size: 1.25rem; }
    .gridBoxMe #parrafo2 {
      font-size: 1.25rem; }
  .gridBoxMe2 {
    padding: 6rem 5rem; }
    .gridBoxMe2 h2 {
      font-size: 1.8rem;
      padding-bottom: 15px; }
  .gridBoxMe3 {
    padding: 6rem 3rem; }
    .gridBoxMe3 img {
      width: 25%; }
    .gridBoxMe3 h2 {
      font-size: 1.8rem; }
    .gridBoxMe3 h3 {
      font-size: 1.5rem; }
    .gridBoxMe3 p {
      font-size: 1.1rem; }
  .section4Me h3 {
    font-size: 2rem; } }

@media only screen and (min-width: 1200px) {
  .sectionBg h1 {
    font-size: 3.5rem; }
  .sectionBg p {
    font-size: 1.7rem;
    font-weight: 300; }
  .gridBoxMe {
    grid-template-areas: "titulo titulo titulo titulo titulo" "parrafo1 parrafo1 parrafo1 parrafo1 parrafo1" "parrafo1 parrafo1 parrafo1 parrafo1 parrafo1" "img img parrafo2 parrafo2 parrafo2" "img img parrafo2 parrafo2 parrafo2";
    padding: 5rem 6rem; }
    .gridBoxMe img {
      width: 95%; }
    .gridBoxMe h2 {
      font-size: 1.7rem;
      padding-top: 20px; }
    .gridBoxMe #parrafo1 {
      font-size: 1.35rem; }
    .gridBoxMe #parrafo2 {
      font-size: 1.35rem;
      padding-left: 1.5rem;
      margin-top: 1.5rem; }
  .gridBoxMe2 {
    padding: 5rem 6rem; }
    .gridBoxMe2 h2 {
      font-size: 1.7rem;
      padding-bottom: 0px; }
    .gridBoxMe2 p {
      font-size: 1.4rem; }
  .gridBoxMe3 {
    padding: 5rem 5.5rem; }
    .gridBoxMe3 h2 {
      font-size: 1.9rem; }
    .gridBoxMe3 h3 {
      font-size: 1.6rem; }
    .gridBoxMe3 p {
      font-size: 1.2rem; }
    .gridBoxMe3 img {
      width: 30%; }
    .gridBoxMe3 #div1 {
      width: 25vw; }
    .gridBoxMe3 #div2 {
      width: 25vw; }
    .gridBoxMe3 #div3 {
      width: 25vw; }
  .section4Me {
    padding: 5rem 5.5rem; }
    .section4Me h3 {
      font-size: 2.1rem; } }

@media only screen and (min-width: 1440px) {
  .sectionBg h1 {
    font-size: 3.7rem; }
  .sectionBg p {
    font-size: 1.8rem; }
  .gridBoxMe {
    padding: 4rem 10rem 6rem; }
    .gridBoxMe h2 {
      font-size: 1.9rem;
      letter-spacing: 1px;
      padding-left: 40px;
      align-self: center; }
    .gridBoxMe img {
      width: 22vw; }
    .gridBoxMe #parrafo1 {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .gridBoxMe #parrafo2 {
      font-size: 1.5rem;
      padding-left: 2rem;
      margin-top: 0rem; }
  .gridBoxMe2 {
    padding: 7rem 9rem; }
    .gridBoxMe2 h2 {
      font-size: 2rem;
      letter-spacing: 1px;
      align-self: center; }
    .gridBoxMe2 p {
      font-size: 1.5rem;
      align-self: baseline; }
  .gridBoxMe3 img {
    width: 30%; }
  .gridBoxMe3 h2 {
    font-size: 2.5rem;
    letter-spacing: 1px; }
  .gridBoxMe3 h3 {
    font-size: 1.9rem;
    letter-spacing: 1px; }
  .gridBoxMe3 p {
    font-size: 1.2rem;
    letter-spacing: 1.2px; }
  .gridBoxMe3 #div1 {
    width: 22.5vw; }
  .gridBoxMe3 #div2 {
    width: 22.5vw; }
  .gridBoxMe3 #div3 {
    width: 22.5vw; }
  .section4Me {
    padding: 7rem 6rem; }
    .section4Me h3 {
      font-size: 2.8rem;
      padding-bottom: 30px; } }

/*----------------ESTILO DE SERVICIOS--------------*/
#serviciosBody {
  background-color: #EFF4F8;
  width: 100%; }

.servBg {
  background-image: url(../Imagenes/new-york-3.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .servBg h1 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 2px; }
  .servBg p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    width: 75vw; }

.serv4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  justify-content: space-between;
  background-color: white; }
  .serv4 h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500; }

.gridBoxServ {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo';
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridBoxServ img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridBoxServ h2 {
    grid-area: titulo;
    padding-top: 25px;
    text-align: center; }
  .gridBoxServ p {
    grid-area: parrafo;
    padding-top: 10px;
    text-align: center;
    font-weight: 300; }

.gridBoxServ2 {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo';
  padding: 50px 20px;
  background-color: white; }
  .gridBoxServ2 img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridBoxServ2 h2 {
    grid-area: titulo;
    padding-top: 25px;
    text-align: center; }
  .gridBoxServ2 p {
    grid-area: parrafo;
    padding-top: 10px;
    text-align: center;
    font-weight: 300; }

@media only screen and (min-width: 460px) {
  .gridBoxServ {
    padding: 60px 30px 40px; }
    .gridBoxServ img {
      width: 90%; }
    .gridBoxServ h2 {
      padding-top: 30px; }
    .gridBoxServ p {
      padding-top: 15px;
      font-size: 1.2rem; }
  .gridBoxServ2 {
    padding: 60px 30px 40px; }
    .gridBoxServ2 img {
      width: 90%; }
    .gridBoxServ2 h2 {
      padding-top: 30px; }
    .gridBoxServ2 p {
      padding-top: 15px;
      font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  .servBg {
    background-image: url(../Imagenes/new-york-2-cuadrado.jpg); }
  .gridBoxServ {
    padding: 4rem 5rem; }
    .gridBoxServ img {
      width: 90%;
      align-self: center; }
    .gridBoxServ p {
      font-size: 1.2rem; }
  .gridBoxServ2 {
    padding: 4rem 5rem; }
    .gridBoxServ2 img {
      width: 90%;
      align-self: center; }
    .gridBoxServ2 p {
      font-size: 1.2rem; } }

@media only screen and (min-width: 760px) {
  .servBg h1 {
    font-size: 3rem; }
  .servBg p {
    font-size: 1.4rem; }
  .gridBoxServ {
    grid-template-areas: 'titulo titulo img img' 'parrafo parrafo img img';
    padding: 5rem 4rem; }
    .gridBoxServ h2 {
      padding-top: 0px;
      padding-right: 10px;
      font-size: 1.3rem;
      text-align: start; }
    .gridBoxServ p {
      padding-top: 10px;
      padding-right: 10px;
      font-size: 0.9rem;
      text-align: start; }
  .gridBoxServ2 {
    grid-template-areas: 'img img titulo titulo' 'img img parrafo parrafo';
    padding: 5rem 4rem; }
    .gridBoxServ2 h2 {
      padding-top: 0px;
      padding-left: 10px;
      font-size: 1.3rem;
      text-align: start; }
    .gridBoxServ2 p {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 0.9rem;
      text-align: start; }
  .serv4 {
    padding: 5rem 2rem; }
    .serv4 h3 {
      padding-bottom: 25px;
      width: unset; } }

@media only screen and (min-width: 1000px) {
  .servBg {
    background-image: url(../Imagenes/new-york-2.jpg); }
    .servBg h1 {
      font-size: 3.2rem;
      letter-spacing: 3px; }
    .servBg p {
      font-size: 1.5rem;
      font-weight: 400;
      width: unset; }
  .gridBoxServ {
    padding: 6rem 5rem; }
    .gridBoxServ h2 {
      font-size: 1.5rem;
      align-self: center;
      padding-top: 10px; }
    .gridBoxServ p {
      font-size: 1.1rem;
      padding: 5px 10px 0px 0px;
      align-self: center; }
  .gridBoxServ2 {
    padding: 6rem 5rem; }
    .gridBoxServ2 h2 {
      font-size: 1.5rem;
      align-self: center;
      padding-top: 10px; }
    .gridBoxServ2 p {
      font-size: 1.1rem;
      padding: 5px 0px 0px 10px;
      align-self: center; }
  .serv4 {
    padding: 5rem 2rem; }
    .serv4 h3 {
      padding-bottom: 25px;
      width: unset; } }

@media only screen and (min-width: 1200px) {
  .servBg h1 {
    font-size: 3.5rem; }
  .servBg p {
    font-size: 1.7rem;
    font-weight: 300; }
  .gridBoxServ {
    padding: 5rem 6rem; }
    .gridBoxServ h2 {
      font-size: 1.6rem; }
    .gridBoxServ p {
      font-size: 1.2rem; }
  .gridBoxServ2 {
    padding: 5rem 6rem; }
    .gridBoxServ2 h2 {
      font-size: 1.6rem; }
    .gridBoxServ2 p {
      font-size: 1.2rem; }
  .serv4 {
    padding: 5rem 2rem; }
    .serv4 h3 {
      font-size: 1.8rem; } }

@media only screen and (min-width: 1440px) {
  .servBg h1 {
    font-size: 3.7rem; }
  .servBg p {
    font-size: 1.8rem; }
  .gridBoxServ {
    padding: 7rem 8rem; }
    .gridBoxServ img {
      width: 80%; }
    .gridBoxServ h2 {
      font-size: 1.9rem;
      letter-spacing: 1px;
      text-align: start;
      margin-left: 3rem; }
    .gridBoxServ p {
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      margin-left: 3rem; }
    .gridBoxServ a {
      margin-left: 3rem; }
  .gridBoxServ2 {
    padding: 7rem 8rem; }
    .gridBoxServ2 img {
      width: 80%; }
    .gridBoxServ2 h2 {
      font-size: 1.9rem;
      letter-spacing: 1px;
      text-align: start;
      margin-right: 3rem; }
    .gridBoxServ2 p {
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      margin-right: 3rem; }
    .gridBoxServ2 a {
      margin-right: 3rem;
      margin-bottom: 3rem; } }

/*--------------------ESTILO DE PORTFOLIO----------------*/
#portfolioBody {
  background-color: #EFF4F8; }

.portBg {
  background-image: url(../Imagenes/sydney-cuadrado.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .portBg h1 {
    font-size: 3.3rem;
    padding-bottom: 30px;
    letter-spacing: 2px; }

.portButton {
  text-align: center;
  text-decoration: none;
  background-color: #7DBAA4;
  padding: 8px 25px !important;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 300;
  color: white; }

.portButton:hover {
  background-color: #405360;
  color: white; }

.gridPort1 {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo' 'boton';
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridPort1 img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridPort1 h2 {
    grid-area: titulo;
    padding-top: 25px;
    justify-self: center;
    text-align: center; }
  .gridPort1 p {
    grid-area: parrafo;
    padding: 10px 0px;
    text-align: center; }
  .gridPort1 a {
    grid-area: boton;
    justify-self: center;
    padding: 7px; }

.gridPort2 {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo' 'boton';
  padding: 50px 20px;
  background-color: white; }
  .gridPort2 img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridPort2 h2 {
    grid-area: titulo;
    padding-top: 25px;
    justify-self: center;
    text-align: center; }
  .gridPort2 p {
    grid-area: parrafo;
    padding: 10px 0px;
    text-align: center; }
  .gridPort2 a {
    grid-area: boton;
    justify-self: center;
    padding: 7px; }

@media only screen and (min-width: 460px) {
  .gridPort1 {
    padding: 60px 30px 40px; }
    .gridPort1 img {
      width: 100%; }
    .gridPort1 h2 {
      padding-top: 30px;
      font-size: 1.8rem; }
    .gridPort1 p {
      padding-top: 15px;
      font-size: 1.2rem; }
  .gridPort2 {
    padding: 60px 30px 40px; }
    .gridPort2 img {
      width: 100%; }
    .gridPort2 h2 {
      padding-top: 30px;
      font-size: 1.8rem; }
    .gridPort2 p {
      padding-top: 15px;
      font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  .portBg {
    background-image: url(../Imagenes/sydney2.jpg); }
    .portBg h1 {
      font-size: 2.4rem; }
  .gridPort1 {
    grid-template-areas: 'titulo titulo img' 'parrafo parrafo img' 'boton none img';
    padding: 60px 20px; }
    .gridPort1 img {
      width: 100%;
      align-self: center; }
    .gridPort1 h2 {
      padding-top: 0px;
      padding-right: 20px;
      width: 50vw;
      font-size: 1.4rem; }
    .gridPort1 p {
      padding-top: 10px;
      padding-right: 20px;
      width: 50vw;
      font-size: 0.9rem;
      text-align: start; }
  .gridPort2 {
    grid-template-areas: 'img titulo titulo' 'img parrafo parrafo' 'img none boton';
    padding: 60px 20px; }
    .gridPort2 img {
      width: 100%;
      align-self: center; }
    .gridPort2 h2 {
      padding-top: 0px;
      padding-left: 20px;
      width: 50vw;
      font-size: 1.4rem; }
    .gridPort2 p {
      padding-top: 10px;
      padding-left: 20px;
      width: 50vw;
      font-size: 0.9rem;
      text-align: start; } }

@media only screen and (min-width: 760px) {
  .portBg h1 {
    font-size: 3.4rem;
    padding-bottom: 30px; }
  .gridPort1 {
    padding: 70px 30px; }
    .gridPort1 h2 {
      font-size: 1.7rem; }
    .gridPort1 p {
      font-size: 1rem;
      padding: 5px 20px 0px 0px; }
    .gridPort1 a {
      align-self: baseline; }
  .gridPort2 {
    padding: 70px 30px; }
    .gridPort2 h2 {
      font-size: 1.7rem; }
    .gridPort2 p {
      font-size: 1rem;
      padding: 5px 0px 0px 20px; }
    .gridPort2 a {
      align-self: baseline; } }

@media only screen and (min-width: 1000px) {
  .portBg {
    background-image: url(../Imagenes/sydney1.jpg); }
    .portBg h1 {
      font-size: 4rem;
      letter-spacing: 4px; }
  .gridPort1 {
    padding: 80px 40px; }
    .gridPort1 h2 {
      font-size: 1.8rem;
      align-self: center;
      padding-top: 10px;
      width: 55vw; }
    .gridPort1 p {
      font-size: 1.3rem;
      padding: 5px 20px 0px 0px;
      align-self: center;
      width: 55vw; }
  .gridPort2 {
    padding: 80px 40px; }
    .gridPort2 h2 {
      font-size: 1.8rem;
      align-self: center;
      padding-top: 10px;
      width: 55vw; }
    .gridPort2 p {
      font-size: 1.3rem;
      padding: 5px 0px 0px 20px;
      align-self: center;
      width: 55vw; } }

@media only screen and (min-width: 1200px) {
  .portBg h1 {
    font-size: 3.8rem; }
  .gridPort1 {
    padding: 80px 40px; }
    .gridPort1 h2 {
      font-size: 2rem; }
    .gridPort1 p {
      font-size: 1.5rem; }
  .gridPort2 {
    padding: 80px 40px; }
    .gridPort2 h2 {
      font-size: 2rem; }
    .gridPort2 p {
      font-size: 1.5rem; } }

@media only screen and (min-width: 1400px) {
  .portBg h1 {
    font-size: 4rem; }
  .gridPort1 {
    padding: 90px 50px; }
    .gridPort1 h2 {
      font-size: 2.3rem;
      width: 58vw;
      letter-spacing: 2px;
      padding-right: 40px; }
    .gridPort1 p {
      font-size: 1.8rem;
      width: 58vw;
      padding-right: 40px; }
  .gridPort2 {
    padding: 90px 50px; }
    .gridPort2 h2 {
      font-size: 2.3rem;
      width: 58vw;
      letter-spacing: 2px;
      padding-left: 40px; }
    .gridPort2 p {
      font-size: 1.8rem;
      width: 58vw;
      padding-left: 40px; } }

/*-------------------ESTILO DE CONTACTO----------------*/
#contBody {
  background-color: #EFF4F8; }

.contBg {
  background-image: url(../Imagenes/toronto2.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .contBg h1 {
    font-size: 3.3rem;
    padding-bottom: 30px;
    letter-spacing: 2px; }

.bgCont {
  background-color: #EFF4F8; }

.contPadding {
  padding-top: 15px; }

/* Inicio accorderon */
.preguntas-frecuentes {
  background-color: white; }
  .preguntas-frecuentes h2 {
    margin-bottom: 0px;
    padding: 1.25rem 1.5rem;
    border-bottom: solid 1px #f0f0f0;
    text-align: center; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 4rem;
  font-size: 1.1rem;
  color: #212529;
  text-align: center;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease; }

.accordion-body {
  padding: 1.5rem 4rem; }

/* fin accordeon */
@media only screen and (min-width: 600px) {
  .contBg {
    background-image: url(../Imagenes/toronto-cuadrado.jpg); } }

@media only screen and (min-width: 992px) {
  .contBg {
    background-image: url(../Imagenes/toronto1.jpg); }
  .contPadding {
    padding-top: 0px; } }

.section-404 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .section-404 .bg-div1 {
    display: flex;
    background-color: #7DBAA4;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44vh; }
    .section-404 .bg-div1 img {
      width: 45%; }
  .section-404 .bg-div2 {
    background-color: white;
    text-align: center;
    height: 44vh;
    padding: 3.5rem;
    padding-top: 2rem;
    width: 100%; }
    .section-404 .bg-div2 h3 {
      font-size: 5rem;
      color: #7DBAA4;
      font-weight: 600; }
    .section-404 .bg-div2 h4 {
      padding-bottom: 1.3rem;
      font-size: 1.1rem;
      font-weight: 300; }
    .section-404 .bg-div2 .button404 {
      background-color: #7DBAA4;
      text-decoration: none;
      color: white;
      padding: 10px 40px;
      border-radius: 50px;
      font-weight: 300; }
    .section-404 .bg-div2 .button404:hover {
      background-color: #4B5C6B; }

@media only screen and (min-width: 550px) {
  .section-404 .bg-div1 img {
    width: 35%; } }

@media only screen and (min-width: 700px) {
  .section-404 .bg-div1 img {
    width: 30%; } }

@media only screen and (min-width: 800px) {
  .section-404 {
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .section-404 .bg-div1 {
      display: flex;
      width: 50%;
      height: 85vh; }
      .section-404 .bg-div1 img {
        width: 60%; }
    .section-404 .bg-div2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 85vh;
      padding: 3.5rem 2rem;
      width: 50%; }
      .section-404 .bg-div2 h3 {
        font-size: 5.2rem; }
      .section-404 .bg-div2 h4 {
        font-size: 1.2rem; } }

@media only screen and (min-width: 992px) {
  .section-404 .bg-div1 {
    height: 86vh; }
    .section-404 .bg-div1 img {
      width: 50%; }
  .section-404 .bg-div2 {
    height: 86vh; } }

@media only screen and (min-width: 1200px) {
  .section-404 .bg-div1 {
    height: 90vh; }
    .section-404 .bg-div1 img {
      width: 40%; }
  .section-404 .bg-div2 {
    height: 90vh; }
    .section-404 .bg-div2 h3 {
      font-size: 8rem; }
    .section-404 .bg-div2 h4 {
      font-size: 1.5rem; } }

/*----------------ESTILO GENERAL------------------*/
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.imgShadow {
  box-shadow: 1.5px 1.5px 2px #7c7c7c, -1.5px -1.5px 2px #7c7c7c;
  border-radius: 5px; }

.bgButton {
  background-color: #7DBAA4;
  text-decoration: none;
  padding: 8px 25px !important;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  text-align: center;
  font-weight: 300;
  justify-self: center; }

.bgButton:hover {
  background-color: #405360;
  color: white; }

@media only screen and (min-width: 1200px) {
  .bgButton {
    font-size: 1.2rem; } }

/*----------ANIMACIONES----------*/
/* Icon Grow Rotate */
.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.5px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-icon-grow-rotate .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-icon-grow-rotate:hover .hvr-icon,
.hvr-icon-grow-rotate:focus .hvr-icon,
.hvr-icon-grow-rotate:active .hvr-icon {
  -webkit-transform: scale(1.1) rotate(12deg);
  transform: scale(1.1) rotate(12deg); }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.5px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #7DBAA4;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

/* Icon Sink */
.hvr-icon-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-icon-sink .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-icon-sink:hover .hvr-icon,
.hvr-icon-sink:focus .hvr-icon,
.hvr-icon-sink:active .hvr-icon {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); }
