/*-------------------ESTILO SOBRE MI--------------------*/

#meBody {
	background-color: $fondo-claro;
	width: 100%;
}

.sectionBg {
	background-image: url(../Imagenes/2-bs-MB.jpg);
	background-size: cover;
	height: 90vh;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h1 {
		font-size: 2.8rem;
		font-weight: 700;
		letter-spacing: 2px;
	}

	p {
		font-size: 1.2rem;
		font-weight: 300;
		text-align: center;
		letter-spacing: 1.5px;
		width: 75vw;
	}
}

.section4Me {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
	text-align: center;
	justify-content: space-between;
	background-color: white;

	h3 {
		padding-bottom: 10px;
		font-size: 1.5rem;
		letter-spacing: 1px;
		font-weight: 500;
	}
}


/* Inicio de grillas */

.gridBoxMe {
	display: grid;
	grid-template-areas: 'img'
		'titulo'
		'parrafo1'
		'parrafo2';
	padding: 50px 20px;
	background-color: $fondo-claro;

	img {
		grid-area: img;
		width: 95%;
		justify-self: center;
		align-self: center;
	}

	h2 {
		grid-area: titulo;
		padding-top: 25px;
		justify-self: center;
		text-align: center;
	}

	#parrafo1 {
		grid-area: parrafo1;
		padding: 10px 10px 0px;
		justify-self: center;
		text-align: justify;
		font-weight: 300;
	}

	#parrafo2 {
		grid-area: parrafo2;
		padding: 10px 10px 0px;
		justify-self: center;
		text-align: justify;
		font-weight: 300;
	}
}

.gridBoxMe2 {
	display: grid;
	grid-template-areas: 'titulo'
		'parrafo';
	padding: 50px 20px;
	background-color: white;

	h2 {
		grid-area: titulo;
		padding-bottom: 5px;
		justify-self: center;
	}

	p {
		grid-area: parrafo;
		padding: 10px 10px 0px;
		justify-self: center;
		text-align: center;
		font-weight: 300;
	}
}

.gridBoxMe3 {
	display: grid;
	grid-template-areas:
		"titulo"
		"div1"
		"div2"
		"div3";
	padding: 50px 20px;
	background-color: $fondo-claro;

	h2 {
		grid-area: titulo;
		padding-bottom: 10px;
		justify-self: center;
		font-size: 1.8rem;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		margin-bottom: 1em;
		width: 25%;
	}

	p {
		font-weight: 300;
	}

	#div1 {
		grid-area: div1;
		justify-self: center;
		padding: 10px 5px;
		width: 70vw;
		text-align: center;
	}

	#div2 {
		grid-area: div2;
		justify-self: center;
		padding: 10px 5px;
		width: 70vw;
		text-align: center;
	}

	#div3 {
		grid-area: div3;
		justify-self: center;
		padding: 10px 5px;
		width: 70vw;
		text-align: center;
	}
}

@media only screen and (min-width: 460px) {
	.gridBoxMe {
		padding: 60px 30px 40px;

		img {
			width: 90%
		}

		h2 {
			padding-top: 30px;
		}

		#parrafo1 {
			padding-top: 15px;
			font-size: 1.2rem;
		}

		#parrafo2 {
			font-size: 1.2rem;
		}
	}

	.gridBoxMe2 {
		padding: 60px 30px 40px;

		p {
			font-size: 1.2rem;
		}
	}

	.gridBoxMe3 {
		p {
			font-size: 1.2rem;
		}
	}
}

@media only screen and (min-width: 600px) {
	.sectionBg {
		background-image: url(../Imagenes/2-bs-TB.jpg);
	}

	.gridBoxMe {
		padding: 4rem 5rem;

		img {
			width: 90%;
			align-self: center;
		}

		#parrafo1 {
			font-size: 1.3rem;
		}

		#parrafo2 {
			font-size: 1.3rem;
		}
	}

	.gridBoxMe2 {
		padding: 4rem 5rem;

		p {
			font-size: 1.3rem;
			padding-bottom: 0px;
		}
	}

	.gridBoxMe3 {
		padding: 4rem 5rem;

		div {
			text-align: center;
		}

		h2 {
			padding-bottom: 20px;
		}

		h3 {
			font-size: 1.8rem;
		}

		p {
			font-size: 1.3rem;
		}

		img {
			width: 30%;
		}

		#div1 {
			width: 60vw;
			padding: 20px 5px;
		}

		#div2 {
			width: 60vw;
			padding: 20px 5px;
		}

		#div3 {
			width: 60vw;
			padding: 20px 5px;
		}
	}

	.section4Me {
		h3 {
			width: 70vw;
			font-size: 1.8rem;
		}
	}
}

@media only screen and (min-width: 760px) {
	.sectionBg {

		h1 {
			font-size: 3rem;
		}

		p {
			font-size: 1.4rem;
		}
	}

	.gridBoxMe {
		grid-template-areas: "titulo titulo titulo titulo titulo"
			"parrafo1 parrafo1 parrafo1 parrafo1 parrafo1"
			"parrafo1 parrafo1 parrafo1 parrafo1 parrafo1"
			"img img img parrafo2 parrafo2"
			"img img img parrafo2 parrafo2";
		padding: 5rem 4rem;

		img {
			width: 90%;
		}

		h2 {
			padding-top: 0px;
		}

		#parrafo1 {
			font-size: 1rem;
			text-align: justify;
		}

		#parrafo2 {
			font-size: 1rem;
			padding-left: 10px;
			margin-bottom: 0.5rem;
			text-align: justify;
		}
	}

	.gridBoxMe2 {
		padding: 5rem 4rem;

		h2 {
			font-size: 1.7rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.gridBoxMe3 {
		grid-template-areas: 'titulo titulo titulo'
			'div1 div2 div3';
		padding: 5rem 2rem;

		h3 {
			font-size: 1.4rem;
		}

		p {
			font-size: 1rem;
		}

		#div1 {
			width: 30vw;
			padding: 20px 5px;
		}

		#div2 {
			width: 30vw;
			padding: 20px 5px;
		}

		#div3 {
			width: 30vw;
			padding: 20px 5px;
		}
	}

	.section4Me {
		padding: 5rem 2rem;

		h3 {
			font-size: 2rem;
			padding-bottom: 25px;
			width: unset;
		}
	}
}

@media only screen and (min-width: 900px) {
	.gridBoxMe {
		img {
			width: 85%;
		}

		h2 {
			font-size: 1.6rem;
			padding-top: 0px;
		}

		#parrafo1 {
			font-size: 1.15rem;
		}

		#parrafo2 {
			font-size: 1.15rem;
		}
	}

	.gridBoxMe2 {
		h2 {
			font-size: 1.6rem;
			padding-top: 0px;
		}

		p {
			font-size: 1.3rem;
		}
	}

	.gridBoxMe3 {
		h2 {
			font-size: 1.6rem;
		}

		h3 {
			font-size: 1.4rem;
		}

		p {
			font-size: 1.05rem;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.sectionBg {
		background-image: url(../Imagenes/2-bs-XL.jpg);

		h1 {
			font-size: 3.2rem;
			letter-spacing: 3px;
		}

		p {
			font-size: 1.5rem;
			font-weight: 400;
		}
	}

	.gridBoxMe {
		padding: 6rem 5rem;

		h2 {
			font-size: 1.8rem;
		}

		#parrafo1 {
			font-size: 1.25rem;
		}

		#parrafo2 {
			font-size: 1.25rem;
		}
	}

	.gridBoxMe2 {
		padding: 6rem 5rem;

		h2 {
			font-size: 1.8rem;
			padding-bottom: 15px;
		}
	}

	.gridBoxMe3 {
		padding: 6rem 3rem;

		img {
			width: 25%;
		}

		h2 {
			font-size: 1.8rem;
		}

		h3 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1.1rem;
		}
	}

	.section4Me {
		h3 {
			font-size: 2rem;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.sectionBg {
		h1 {
			font-size: 3.5rem;
		}

		p {
			font-size: 1.7rem;
			font-weight: 300;
		}
	}

	.gridBoxMe {
		grid-template-areas: "titulo titulo titulo titulo titulo"
			"parrafo1 parrafo1 parrafo1 parrafo1 parrafo1"
			"parrafo1 parrafo1 parrafo1 parrafo1 parrafo1"
			"img img parrafo2 parrafo2 parrafo2"
			"img img parrafo2 parrafo2 parrafo2";
		padding: 5rem 6rem;

		img {
			width: 95%;
		}

		h2 {
			font-size: 1.7rem;
			padding-top: 20px;
		}

		#parrafo1 {
			font-size: 1.35rem;
		}

		#parrafo2 {
			font-size: 1.35rem;
			padding-left: 1.5rem;
			margin-top: 1.5rem;
		}
	}

	.gridBoxMe2 {
		padding: 5rem 6rem;

		h2 {
			font-size: 1.7rem;
			padding-bottom: 0px;
		}

		p {
			font-size: 1.4rem;
		}
	}

	.gridBoxMe3 {
		padding: 5rem 5.5rem;

		h2 {
			font-size: 1.9rem;
		}

		h3 {
			font-size: 1.6rem;
		}

		p {
			font-size: 1.2rem;
		}

		img {
			width: 30%;
		}

		#div1 {
			width: 25vw;
		}

		#div2 {
			width: 25vw;
		}

		#div3 {
			width: 25vw;
		}
	}

	.section4Me {
		padding: 5rem 5.5rem;

		h3 {
			font-size: 2.1rem;
		}
	}
}

@media only screen and (min-width: 1440px) {
	.sectionBg {
		h1 {
			font-size: 3.7rem;
		}

		p {
			font-size: 1.8rem;
		}
	}

	.gridBoxMe {
		padding: 4rem 10rem 6rem;

		h2 {
			font-size: 1.9rem;
			letter-spacing: 1px;
			padding-left: 40px;
			align-self: center;
		}

		img {
			width: 22vw;
		}

		#parrafo1 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		#parrafo2 {
			font-size: 1.5rem;
			padding-left: 2rem;
			margin-top: 0rem;
		}
	}

	.gridBoxMe2 {
		padding: 7rem 9rem;

		h2 {
			font-size: 2rem;
			letter-spacing: 1px;
			align-self: center;
		}

		p {
			font-size: 1.5rem;
			align-self: baseline;
		}
	}

	.gridBoxMe3 {
		img {
			width: 30%;
		}

		h2 {
			font-size: 2.5rem;
			letter-spacing: 1px;
		}

		h3 {
			font-size: 1.9rem;
			letter-spacing: 1px;
		}

		p {
			font-size: 1.2rem;
			letter-spacing: 1.2px;
		}

		#div1 {
			width: 22.5vw;
		}

		#div2 {
			width: 22.5vw;
		}

		#div3 {
			width: 22.5vw;
		}
	}

	.section4Me {
		padding: 7rem 6rem;

		h3 {
			font-size: 2.2rem;
			padding-bottom: 20px;
		}
	}
}