/*----------------ESTILO DE SERVICIOS--------------*/

#serviciosBody {
	background-color: $fondo-claro;
	width: 100%;
}

.servBg {
	background-image: url(../Imagenes/3-ny-MB.jpg);
	background-size: cover;
	height: 90vh;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h1 {
		font-size: 2.8rem;
		font-weight: 700;
		letter-spacing: 2px;
	}

	p {
		font-size: 1.2rem;
		font-weight: 300;
		text-align: center;
		letter-spacing: 1.5px;
		width: 75vw;
	}
}

.serv4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
	text-align: center;
	justify-content: space-between;
	background-color: white;

	h3 {
		padding-bottom: 10px;
		font-size: 1.5rem;
		letter-spacing: 1px;
		font-weight: 500;
	}
}

.gridBoxServ {
	display: grid;
	grid-template-areas: 'img'
		'titulo'
		'parrafo';
	padding: 50px 20px;
	background-color: $fondo-claro;


	img {
		grid-area: img;
		width: 95%;
		justify-self: center;
	}

	h2 {
		grid-area: titulo;
		padding-top: 25px;
		text-align: center;
	}

	p {
		grid-area: parrafo;
		padding: 10px 10px 0px;
		text-align: justify;
		font-weight: 300;
	}
}

.gridBoxServ2 {
	display: grid;
	grid-template-areas: 'img'
		'titulo'
		'parrafo';
	padding: 50px 20px;
	background-color: white;


	img {
		grid-area: img;
		width: 95%;
		justify-self: center;
	}

	h2 {
		grid-area: titulo;
		padding-top: 25px;
		text-align: center;
	}

	p {
		grid-area: parrafo;
		padding: 10px 10px 0px;
		text-align: justify;
		font-weight: 300;
	}
}

@media only screen and (min-width: 460px) {
	.gridBoxServ {
		padding: 60px 30px 40px;

		img {
			width: 90%
		}

		h2 {
			padding-top: 30px;
		}

		p {
			padding-top: 15px;
			font-size: 1.2rem;
		}
	}

	.gridBoxServ2 {
		padding: 60px 30px 40px;

		img {
			width: 90%;
		}

		h2 {
			padding-top: 30px;
		}

		p {
			padding-top: 15px;
			font-size: 1.2rem;
		}
	}
}

@media only screen and (min-width: 600px) {
	.servBg {
		background-image: url(../Imagenes/3-ny-TB.jpg);
	}

	.gridBoxServ {
		padding: 4rem 5rem;

		img {
			width: 90%;
			align-self: center;
		}

		p {
			font-size: 1.2rem;
		}

	}

	.gridBoxServ2 {
		padding: 4rem 5rem;

		img {
			width: 90%;
			align-self: center;
		}

		p {
			font-size: 1.2rem;
		}
	}
}

@media only screen and (min-width: 760px) {
	.servBg {
		h1 {
			font-size: 3rem;
		}

		p {
			font-size: 1.4rem;
		}
	}

	.gridBoxServ {
		grid-template-areas: 'titulo titulo img img'
			'parrafo parrafo img img';
		padding: 5rem 4rem;

		h2 {
			padding-top: 0px;
			padding-right: 10px;
			font-size: 1.3rem;
			text-align: start;
		}

		p {
			padding: 10px 10px 0px 0px;
			font-size: 0.9rem;
			text-align: start;
		}
	}

	.gridBoxServ2 {
		grid-template-areas: 'img img titulo titulo'
			'img img parrafo parrafo';
		padding: 5rem 4rem;

		h2 {
			padding-top: 0px;
			padding-left: 10px;
			font-size: 1.3rem;
			text-align: start;
		}

		p {
			padding: 10px 0px 0px 10px;
			font-size: 0.9rem;
			text-align: start;
		}
	}

	.serv4 {
		padding: 5rem 2rem;

		h3 {
			padding-bottom: 25px;
			width: unset;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.servBg {
		background-image: url(../Imagenes/3-ny-XL.jpg);

		h1 {
			font-size: 3.2rem;
			letter-spacing: 3px;
		}

		p {
			font-size: 1.5rem;
			font-weight: 400;
			width: unset;
		}
	}

	.gridBoxServ {
		padding: 6rem 5rem;

		h2 {
			font-size: 1.5rem;
			align-self: center;
			padding-top: 10px;
		}

		p {
			font-size: 1.1rem;
			padding: 5px 10px 0px 0px;
			align-self: center;
		}
	}

	.gridBoxServ2 {
		padding: 6rem 5rem;

		h2 {
			font-size: 1.5rem;
			align-self: center;
			padding-top: 10px;
		}

		p {
			font-size: 1.1rem;
			padding: 5px 0px 0px 10px;
			align-self: center;
		}
	}

	.serv4 {
		padding: 5rem 2rem;

		h3 {
			padding-bottom: 25px;
			width: unset;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.servBg {
		h1 {
			font-size: 3.5rem;
		}

		p {
			font-size: 1.7rem;
			font-weight: 300;
		}
	}

	.gridBoxServ {
		padding: 5rem 6rem;

		h2 {
			font-size: 1.6rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.gridBoxServ2 {
		padding: 5rem 6rem;

		h2 {
			font-size: 1.6rem;

		}

		p {
			font-size: 1.2rem;

		}
	}

	.serv4 {
		padding: 5rem 2rem;

		h3 {
			font-size: 1.8rem;
		}
	}
}

@media only screen and (min-width: 1440px) {
	.servBg {
		h1 {
			font-size: 3.7rem;
		}

		p {
			font-size: 1.8rem;
		}
	}

	.gridBoxServ {
		padding: 7rem 8rem;

		img {
			width: 85%;
		}

		h2 {
			font-size: 1.9rem;
			letter-spacing: 1px;
			text-align: start;
			margin-left: 3rem;
		}

		p {
			font-size: 1.3rem;
			letter-spacing: 1.2px;
			margin-left: 3rem;
		}
	}

	.gridBoxServ2 {
		padding: 7rem 8rem;

		img {
			width: 80%;
		}

		h2 {
			font-size: 1.9rem;
			letter-spacing: 1px;
			text-align: start;
			margin-right: 3rem;
		}

		p {
			font-size: 1.3rem;
			letter-spacing: 1.2px;
			margin-right: 3rem;
		}
	}
}