/* HEADER */
header {
	background-color: $fondo-hr-ft;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}

.container-fluid {
	padding-left: 0;
}

.navbar-collapse {
	padding-left: 7px;
	padding-top: 5px;
}

.nav120 {
	height: 7.5vh;
}

/* FOOTER */

.footerBg {
	background-color: $fondo-hr-ft;
	height: 20vh;
}

.footerImg {
	width: 8vw;
}

.footerLogo {
	width: 50vw;
	padding: 10px;
	padding-right: 0px;
}

.footerImgJC {
	justify-content: space-between;
}

.paddingLine {
	padding-right: 20px;
}

footer {
	h5 {
		letter-spacing: 1px;
		font-weight: 400;
	}
}

@media only screen and (max-width: 380px) {
	.w-10 {
		width: 80%;
	}
}

@media only screen and (min-width: 400px) {
	.nav120 {
		height: 10vh;
	}
}

@media only screen and (min-width: 600px) and (max-width: 759px) {
	.footerImg {
		width: 6.5vw;
	}

	.footerBg {
		height: 30vh;
	}

	.footerImgJC {
		justify-content: space-evenly;
	}

}

@media only screen and (min-width: 760px) {
	.footerImg {
		width: 5.5vw;
	}

	.paddingLine {
		padding-right: 2.3rem;
	}

	.footerImgJC {
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 992px) {
	footer h5 {
		font-size: 1.5rem;
	}

	.footerBg {
		height: 24vh;
	}

	.footerImgJC {
		justify-content: center;
	}

	.footerImg {
		width: 4.7vw;
		margin: 0px 0.5rem;
	}

	.navbar-collapse {
		padding-left: 0px;
		padding-top: 0px;
	}

	.linkPadding {
		margin: 0px 10px;
	}

	.paddingLine {
		padding-right: 2.7rem;
	}
}

@media only screen and (min-width: 1200px) {
	.footerBg {
		height: 25vh;
	}

	.footerLogo {
		padding: 20px;
		padding-right: 0px;
	}

	.linkPadding {
		margin: 0px 15px;
		font-size: 1.15rem;
	}

	.footerImg {
		width: 3.2vw;
	}

	.nav120 {
		height: 13vh;
	}
}